<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#5f9ea0">
<h2 align="center">Active Users</h2>
<button type="button" onclick="location.href='/api/mainpage'"><h4>&nbsp;&nbsp;Go home&nbsp;&nbsp;</h4></button>
<ul th:each="user : ${userList}">
    <li>
        <p th:text="${user.id}"></p>
        <p th:text="${user.firstName}"></p>
        <p th:text="${user.lastName}"></p>
        <p th:text="${user.mail}"></p>
        <a th:href="@{/api/users/delete/} + ${user.id}"><button type="button">&nbsp;&nbsp;Delete User&nbsp;&nbsp</button></a>
        <p><hr></hr></p>
    </li>
</ul>
</body>
</html>