<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#5f9ea0">

<h2 align="center">Form Page</h2>

<form action="#" th:action="@{/api/form/submit}" th:object="${userDTO}" method="post">
    <p>First Name <input type="text" th:field="*{firstName}"/></p>
    <p>Last Name <input type="text" th:field="*{lastName}"/></p>
    <p>Mail <input type="email" th:field="*{mail}"/></p>

    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

</body>
</html>